.panel{width:80%;margin:0 auto;background:#f4f4f4;border:0px solid red; padding:5px; -moz-border-radius:4px; 
  	border-radius:4px;
  	-webkit-border-radius:4px;}

.panel em { color:#C00;}

#wraper{margin:0 0 10px 15px;width:95%;float:left;background-color:#DFECFF;padding:10px 5px 0 5px; -moz-border-radius:4px; 
  	border-radius:4px;
  	-webkit-border-radius:4px;}

#wraper-sincolor{margin:0 0 0px 0px;width:100%;float:left;padding:10px 5px 0 0px;}

.wraperContenedor{margin:0;width:49%;float:left;}
.misma-linea{margin:0; width:auto; float:left;}
.wraperContenedor,.misma-linea label{width:auto;}

/*.box{padding:0; border-top:1px; border-left:1px; border-style:solid; border-color:white; width:95%; margin:4px 0 3px 10px;}
*/
.box{

border-top:1px;
border-top-style:solid;
border-top-color:#fff;
border-bottom:1px;
border-bottom-style:solid;
border-bottom-color:#ccc;
border-right:1px;
border-right-style:solid;
border-right-color:#ccc;
border-left:1px;
border-left-style:solid;
border-left-color:#fff;
width:95%;
margin:20px 0 3px 10px;
    
}
.box label{font-size:12px; }
.box .misma-linea{float:left; }

.notice {background: #ffcc00;color:#000;display: block;/*font-family: Courier, monospace;*/font-size:120%;line-height: 140%;padding: 0.8em;margin: 1em 0;}

.errtop{margin-top:-15px;}

.cajaerr{background-color:#ffffec;border: 1px solid #E4E4E4;color:#FF0000;margin:0px auto 10px auto;padding:10px;-moz-border-radius:10px;-webkit-border-radius:10px;width:65%;}

#maptabs{height:30px;padding-left:0px;width:97%;position:relative;font-size:0.8em;}
#maptabs ul{float:left;list-style:none;margin:0;background:#f0f0f0;margin-top:6px;}
#maptabs ul li{border-style: none outset outset;border-color:#fff;border-width: 0px 1px 1px;float: left;font-size: 0.9em;font-weight: bold;margin:0;padding: 4px 0px;}

#maptabs ul li a.inactivo{color:#000;font-size: 1em;padding: 4px 16px 0px;text-decoration: none;}
#maptabs ul li a.inactivo:hover, #maptabs ul li a.inactivo:focus, #maptabs ul li a.inactivo:active,#maptabs ul li a.activo{background:  #ffcd5e none repeat scroll 0% 50%;border: 1px inset #006699;color: rgb(44, 0, 0);font-size: 1em;margin: 1px;padding: 2px 14px 3px;text-decoration: none;}

#logmap{float:left;width:95%;}
/*#logmap #pro-tabsm{padding-left:0px;}*/
#panelog,.bedroms{background:#f4f4f4;border:1px solid #CCC;clear:both;margin:-30px auto 10px;padding:10px 5px 5px;width:95%;}

#bfmapa,#refmapa{width:97%;height:419px;padding:0;margin:0;}
#bfmapa *,#refmapa *{margin:0;padding:0;}

.bedroms{margin:10px auto;padding:5px;width:90%;clear:both;}


fieldset{margin-top:30px;padding:16px 20px; float: left; width: 35%; margin: 5px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; min-height: 200px;}

fieldset legend{color: #7ebf26;font-size: 120%;font-weight: bold;}

.imgn{width:auto;margin:5px;float:left;}
.imgn a{display:block;padding:3px;border:1px solid #b6b5ba; font-size:10px; font-weight:normal;text-decoration:none;}
.imgn a:hover {background-color:#ccc;}

div.curvacaja{width:78%;margin:0px auto 10px auto;
 font-size:12px;color: #FF0000;padding:10px;
 background-color:#ffffec;border: 1px solid #E4E4E4;
 -moz-border-radius:10px;}
 
 div.cajainfo{width:78%;margin:0px auto 15px auto;
 font-size:12px;padding:3px 10px 10px 10px;color: #000;
 background-color:#ffffec;border: 1px solid #ddd;
 -moz-border-radius:10px;}
 
 .cajainfo ul li{list-style-image: url(../img/vineta.gif);margin-left:5px;margin-bottom:5px;line-height:17px;}
 
 div.cajainfo h3{padding:0 0 0.3em 0;margin-top:0px;font-size: 140%;}
 
 .imgcom {margin-left:260px;}
 
#t1 {width:450px;float:right;font-size:9px;color:red}
#t2 {width:450px;float:right;font-size:9px;color:red}

.error-message { color:red;}

textarea {
	padding:3px;
	background: url(../img/bg_campos.gif) #FFF repeat-x top;  
	border-top:1px solid #ccc; 
	border-left:1px solid #ccc;
	border-bottom:none;
	border-right:none;   
  	-moz-border-radius:4px; 
  	border-radius:4px;
  	-webkit-border-radius:4px;
}
input hidden { display:none;}
input {
	padding:3px;
	background: url(../img/bg_campos.gif) #FFF repeat-x top;  
	border-top:1px solid #ccc; 
	border-left:1px solid #ccc;   
	border-bottom:none;
	border-right:none;
  	-moz-border-radius:4px; 
  	border-radius:4px;
  	-webkit-border-radius:4px;
}
input[type=text], input[type=password] {
	padding:3px;
	background: url(../img/bg_campos.gif) #FFF repeat-x top;  
	border-top:1px solid #ccc; 
	border-left:1px solid #ccc;
	border-bottom:none;
	border-right:none;   
  	-moz-border-radius:4px; 
  	border-radius:4px;
  	-webkit-border-radius:4px;
}
select {
	background: url(../img/bg_campos.gif) #FFF repeat-x top;  
	border-top:1px solid #ccc; 
	border-left:1px solid #ccc;   
	border-bottom:none;
	border-right:none;
  	-moz-border-radius:4px; 
  	border-radius:4px;
  	-webkit-border-radius:4px;

}

 
 